* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #0f0f0f;
  color: white;
}

.busqueda {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.busqueda input {
  padding: 10px 15px;
  width: 400px;
  background-color: #131313c7;
  font-size: 14px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 20px 0 0 20px;
  }

.busqueda button {
  display: flex;
  background-color: #444444;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: background-color 0.3s;
}

#lupa {
  background-color: #444444;
  border-radius: 0 20px 20px 0;
  background-size: cover;
}

.user {
  display: flex;
  gap: 10px;
}

.menu {
  width: 396.7%;
  justify-content: space-between;
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: #0f0f0f;
}

.menu-botones {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

button {
  display: flex;
  gap: 10px;
  padding: 12px 15px;
  background-color: #303030;
  color: white;
  border: none;
  cursor: pointer;
}

#botones {
  border-radius: 20px;
}

button:hover {
  background-color: #535353;
  transition: 0.4s ease;
  justify-content: center;
}

.container {
  display: flex;
}

.lateral {
  width: 200px;
  height: 2405px;
  background-color: #0f0f0f;
  color: white;
}

.lateral ul {
  list-style: none;
  padding: 0;
}

.lateral li {
  margin: 10px 0;
}

.seccion {
  padding: 15px 20px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}